{% extends 'base.html.twig' %}

{% block title %}Edit Media{% endblock %}

{% block body %}
    <h1>Edit Media</h1>
    <img src="{{ asset(medium.link) }}" height="100">

    {{ include('media/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
