{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>
<div class="col-8">
    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
    <br/>
</div>
{% endblock %}
