
<div style="background: #80bdff;" align="center">
    <h4>Hello! This is first news-mail for U</h4>
    <p><b>Далі буде...</b></p>
    <br>
    <br>
    <img src="https://chpic.su/_data/stickers/z/Zibroff/Zibroff_012.webp" heigh="100">
    <p>Z-Blog@2019</p>
</div>
