{% block _avatar_avatar_widget %}
    <div class="col">
            <fieldset class="form-group">
                <div id="avatar_avatar">
                    <div class="form-check">
                        {% for img in var['user'].media %}
                            <label>
                                <input type="radio" id="avatar_avatar_{{ img.id }}" name="avatar[avatar]"
                                   required="required" class="form-check-input radio" value="{{ img.id }}" />
                                <img src="{{ asset(img.link) }}" height="50" alt="{{ img.link }}">
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
    </div>
{% endblock %}
